div#dashboard {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1920px;
    max-height: 1080px;
}

div.challengeData {
    background-color: #E5E5E5;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 20px;
    max-width: 1000px;
    max-height: 200px;
}

div.challengeComb {
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.challengeComb p {
    width: 80%;
    vertical-align: middle;
}

button.bton-load-sol {
    width: 20%;
    color: white;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    transition: background 0.2s ease-in-out
}

button.bton-load-sol:hover {
    background: #6FC56D;
}

button.not-loaded {
    background: #7188D8;
}

button.loaded-sol {
    background: #6FC56D;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    button.bton-load-sol, div.challengeComb {
        font-size: 15px;
    }

    div.challengeData {
        width: 300px;
        height: 100px;
        border-radius: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    button.bton-load-sol, div.challengeComb {
        font-size: 20px;
    }

    div.challengeData {
        width: 500px;
        height: 150px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    button.bton-load-sol, div.challengeComb {
        font-size: 24px;
    }

    div.challengeData {
        width: 600px;
        height: 150px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    button.bton-load-sol, div.challengeComb {
        font-size: 28px;
    }

    div.challengeData {
        width: 900px;
        height: 200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    button.bton-load-sol, div.challengeComb {
        font-size: 28px;
    }

    div.challengeData {
        width: 1000px;
        height: 200px;
    }
}