#dashboardActual {
    display: flex;
    height: 100vh;
    max-height: 1080px;
    flex-direction: column;
    justify-content: center;
}

.scrambleContainer {
    background: #E5E5E5;
}

.solBtn {
    cursor: pointer;
    background: #7188D8;
    transition: all 0.2s ease-in-out;
}

.solBtn:hover {
    background: #4e67c2;
}

.sol-not-loaded {
    background: #43b581;
}

.sol-loaded {
    background: #7188D8;
}

.sol-incorrect {
    background: #db3044;
}

.scrambleContainer {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.solBtn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contPadding {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@media (max-width: 575px) {
    .contPadding {
        font-size: 13px;
        
    }

    .rowSetting {
        height: 100px;
    }
}

@media (min-width: 576px) {
    .contPadding {
        font-size: 16px;
        
    }

    .rowSetting {
        height: 120px;
    }
}

@media (min-width: 767px) {
    .contPadding {
        font-size: 22px;
        
    }

    .rowSetting {
        height: 130px;
    }
}

@media (min-width: 991px) {
    .contPadding {
        font-size: 25px;
        
    }

    .rowSetting {
        height: 140px;
    }
}

@media (min-width: 1200px) {
    .contPadding {
        font-size: 30px;
        
    }

    .rowSetting {
        height: 180px;
    }
}

@media (min-width: 1500px) {
    .rowSetting {
        height: 200px;
    }
}