div#loading-view {
	background: #18191c;
	width: 100vw;
	height: 100vh;
	max-width: 1920px;
	max-height: 1080px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

div#loading-view h2 {
	color: white;
	margin-top: 50px;
}
