div#modify-panel {
   position: absolute;
   display: flex;
   z-index: 2;
   width: 100vw;
   height: 100vh;
   max-width: 1920px;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
   left: 0;
}

div#modify-container {
   background-color: #2B2D32;
   color: white;
   border-radius: 8px;
}

div#modify-container hr {
   background: #7188D8;
   height: 1px;
}

div#modify-container textarea, div#modify-container input {
   width: 100%;
   border: 2px solid #7a7a7a;
   border-radius: 5px;
   background: rgba(196, 196, 196);
   outline: none;
   padding: 3px;
}

div#modify-container textarea {
   resize: none;
   height: 200px;
}

div#modify-container div#end-buttons {
   justify-content: flex-end;
   display: flex;
   align-items: center;
}

div#modify-container div#end-buttons > * {
   cursor: pointer;
}

div#modify-container div#end-buttons button {
   border: none;
   outline: none;
   color: white;
   padding: 5px 8px;
   background-color: #7188D8;
   border-radius: 5px;
   transition: all 0.2s ease-in-out;
}

div#modify-container div#end-buttons button:hover {
   transform: scale(1.1);
}

div#modify-container div#end-buttons a {
   margin-right: 20px;
}

@media (max-width: 575px) {
   div#modify-container {
      padding: 40px 20px;
   }
}

@media (min-width: 576px) {
   div#modify-container {
      padding: 40px 35px;
   }
}

@media (min-width: 991px) {
   div#modify-container {
      padding: 60px 40px;
   }
}