#modify-panel {
   height: 100vh;
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: 3;
   display: flex;
   justify-content: center;
   align-items: center;
}

#modify-container {
   width: 900px;
   height: 800px;
   background-color: var(--dark1);
   color: white;
   padding: 0;
}

#modify-container #title {
   height: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--default-violet-75);
}

.label {
   height: 7.5%;
   display: flex;
   align-items: center;
}

.label label {
   font-size: 1.5em;
   color: var(--dark3);
   margin: 0;
}

#solution {
   height: 5%;
}

#explanation {
   height: 45%;
}

#end-buttons {
   height: 20%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

/*
   Element styling
*/

#modify-container input {
   height: 100%;
}

#modify-container h2 {
   font-size: 3.5em;
}

#modify-container textarea, #modify-container input {
   width: 100%;
   outline: none;
   font-size: 1.5em;
   border: 2px solid var(--dark2);
   border-radius: 5px;
   background: var(--dark4);
   padding: 5px;
   color: white;
}

#modify-container textarea {
   resize: none;
   height: 95%;
}

#end-buttons button {
   outline: none;
   border: none;
   font-size: 1.5em;
   transition: all 0.25s ease-in-out;
}

#end-buttons button[type=submit] {
   background: var(--default-violet);
   color: white;
   padding: 10px 20px;
   border-radius: 5px;
}

#end-buttons button[type=submit]:hover {
   transform: scale(1.1);
   background: var(--darker-violet);
}

#end-buttons #cancel {
   background: rgba(0, 0, 0, 0);
   color: white;
}

#end-buttons #cancel:hover {
   color: var(--incorrect-red);
   cursor: pointer;
}

@media (max-width: 575px) {
   #modify-container {
      width: 90vw;
      height: 400px;
      font-size: 7px;
   }

   #modify-container > *:not(#title):not(h1) {
      padding: 0 10px;
   }

   #modify-container textarea {
      height: 95%;
   }

   #end-buttons  {
      font-size: 6px;
   }

   .label label {
      font-size: 2.5em;
   }
}

@media (min-width: 576px) {
   #modify-container {
      width: 500px;
      height: 700px;
      font-size: 8px;
   }

   #modify-container > *:not(#title):not(h1) {
      padding: 0 20px;
   }

   #modify-container textarea {
      resize: none;
      height: 95%;
   }
}

@media (min-width: 767px) {
   #modify-container {
      width: 700px;
      height: 600px;
      font-size: 12px;   
   }

   #modify-container textarea {
      height: 95%;
   }
}

@media (min-width: 991px) {
   #modify-container {
      width: 900px;
      height: 800px;
   }
}

@media (min-width: 1200px) {
   #modify-container {
      width: 700px;
      height: 650px;
   }
}