nav {
    width: 100vw;
    height: 50px;
    background-color: #2B2D32;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    height: 100%;
    line-height: 50px;
    box-sizing: border-box;
    width: 150px;
    text-align: center;
}

nav a.selected {
    color: #7188D8;
    border-bottom: 4px solid #7188D8;
}