#no-time-warning {
   display: flex;
   z-index: 5;
   flex-direction: column;
   background: rgb(213,78,67);
   /*background: linear-gradient(135deg, rgba(213,78,67,1) 0%, rgba(212,56,44,1) 100%);*/
   position: absolute;
   bottom: 30px;
   right: 30px;
   width: 450px;
   color: white;
   border-radius: 3px;
   overflow: hidden;
}

#no-time-button {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   height: 35px;
}

#progress-slider {
   position: fixed;
   height: 35px;
   background: rgba(212,56,44,1);
   transition: all 5s ease-in-out;
   left: 0;
}

.progress-expand {
   animation-name: progress-expand;
   animation-duration: 10s;
   animation-iteration-count: 1;
   animation-delay: 0.25s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}

@keyframes progress-expand {
   from {
      width: 0;
   }
   to {
      width: 450px
   }
}

#no-time-warning #no-time-button button {
   color: white;
   background: rgba(0,0,0,0);
   font-weight: 800;
   margin-right: 15px;
   z-index: 5;
}

#no-time-warning button {
   border: none;
}

#no-time-text {
   display: flex;
   flex-direction: column;
   height: 130px;
   justify-content: center;
   align-items: center;
}

#no-time-text p {
   height: 50px;
   margin-bottom: 0;
   font-size: 1 em;
}

#no-time-text p strong {
   font-weight: 600;
}

#no-time-text div {
   display: flex;
   width: 100%;
   height: 50px;
   justify-content: space-evenly;
}

#no-time-text div button {
   background: rgba(0,0,0,0);
   color: white;
   transition: all 0.25s ease-in-out;
   padding: 0 10px;
   border-radius: 5px;
   height: 40px;
}

#no-time-text div button:hover {
   background: rgba(212,56,44,1);
   -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.05);
   -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.05);
   box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.05);
   transform: scale(1.1);
}