div#prev-results {
    display: flex;
    width: 100vw;
    max-width: 1920px;
    align-items: center;
    background-color: var(--dark1);
}

#table-container .row, #table-container .col {
    flex-wrap: nowrap !important;
    font-size: 1em;
}

#table-container {
    background-color: var(--dark4);
    text-align: center;
    border-radius: 6px;
    width: 100%;
    color: white;
    -webkit-box-shadow: 11px 16px 47px -26px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 16px 47px -26px rgba(0,0,0,0.75);
    box-shadow: 11px 16px 47px -26px rgba(0,0,0,0.75);
}

#table-container p {
    margin: 0;
    word-wrap: break-word;
}

#table-head {
    background-color: var(--dark2);
    color: white;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
} 

#table-body {
    overflow-y: auto;
}

.table-row > *, #thead > * {
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.table-row > * {
    overflow: hidden;
}

.table-row {
    transition: all 0.5s ease-in-out;
}

.table-row:nth-child(even) {
    background: var(--dark3);
}

.table-row.selected {
    background: var(--default-violet-75);
}

.table-row:hover {
    background: var(--darker-violet);
    cursor: pointer;
}

#end-button {
    height: 100px;
    display: flex;
    align-items: center;
}

#end-button button {
    border: none;
    outline: none;
    background: var(--default-violet);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

#end-button button:hover {
    transform: scale(1.1);
    background: var(--darker-violet);
}

@media (max-width: 991px) {
    * {
        overflow-x: hidden;
    }

    #prev-results {
        flex-direction: column;
        height: 1200px;
    }

    div#prev-results #display-all {
        height: 600px;
        width: 70%;        
        margin-top: 20px;
    }
    
    #table-container {
        width: 70%;
        margin-top: 80px;
        height: 40%;
        overflow-y: hidden;
        flex-wrap: nowrap !important;
        flex-direction: row;
    }

    #table-container > * {
        flex-wrap: nowrap !important;
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    div#prev-results {
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    

    div#prev-results #display-all {
        height: 80%;
        width: 40%;
    }
    
    #table-container {
        width: 50%;
        height: 80%;
        margin-right: 30px;
    }
}

/* Text size */

@media (max-width: 575px) {
    #table-container {
        font-size: 8px;
    }

    div#prev-results #display-all {
        font-size: 2.2vw;
    }
}

@media (min-width: 576px) {
    #table-container {
        font-size: 12px;
    }

    div#prev-results #display-all {
        font-size: 11px;
    }
}

@media (min-width: 767px) {
    #table-container {
        font-size: 14px;
    }

    div#prev-results #display-all {
        font-size: 12px;
    }
}

@media (min-width: 991px) {
    #table-container {
        font-size: 12px;
    }

    div#prev-results #display-all {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    #table-container {
        font-size: 14px;
    }

    div#prev-results #display-all {
        font-size: 12px;
    }
}

@media (min-width: 1500px) {
    #table-container {
        font-size: 16px;
    }

    div#prev-results #display-all {
        font-size: 13px;
    }
}