div#prev-results {
    display: flex;
    width: 100vw;
    max-width: 1920px;
    align-items: center;
    background-color: #ebebeb;
}

#table-container .row, #table-container .col {
    flex-wrap: nowrap !important;
    font-size: 1em;
}

#table-container {
    background-color: white;
    text-align: center;
    border-radius: 6px;
    width: 100%;
}

#table-container p {
    margin: 0;
    word-wrap: break-word;
}

#table-head {
    background-color: #2B2D32;
    color: white;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
} 

#table-body {
    overflow-y: auto;
}

.table-row > *, #thead > * {
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.table-row > * {
    overflow: hidden;
}


.table-row {
    transition: all 0.5s ease-in-out;
}

.table-row.selected {
    background: rgba(78, 103, 194, 0.5);
}

.table-row:nth-child(even) {
    background: rgba(113, 136, 216, 0.2);
}

.table-row:hover {
    background: rgba(78, 103, 194, 0.5);
    cursor: pointer;
}

@media (max-width: 991px) {
    * {
        overflow-x: hidden;
    }

    #prev-results {
        flex-direction: column;
        height: 1200px;
    }

    div#prev-results #display-all {
        height: 600px;
        width: 70%;        
        margin-top: 20px;
    }
    
    #table-container {
        width: 70%;
        margin-top: 80px;
        height: 40%;
        overflow-y: hidden;
        flex-wrap: nowrap !important;
        flex-direction: row;
    }

    #table-container > * {
        flex-wrap: nowrap !important;
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    div#prev-results {
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    

    div#prev-results #display-all {
        height: 80%;
        width: 40%;
    }
    
    #table-container {
        width: 50%;
        height: 80%;
        margin-right: 30px;
    }
}

/* Text size */

@media (max-width: 575px) {
    #table-container {
        font-size: 8px;
    }
}

@media (min-width: 576px) {
    #table-container {
        font-size: 12px;
    }
}

@media (min-width: 767px) {
    #table-container {
        font-size: 14px;
    }
}

@media (min-width: 991px) {
    #table-container {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    #table-container {
        font-size: 14px;
    }
}

@media (min-width: 1500px) {
    #table-container {
        font-size: 16px;
    }
}