/*Width and height value must be the same as
the container*/

div#sol-panel-all {
    position: absolute;
    display: flex;
    border-radius: 20px;
    background: #363940;
    flex-direction: column;
}

div#sol-panel-all a {
    cursor: pointer;
    color: #C9C9C9;
    font-size: 15px;
    margin-right: 20px;
}

div#sol-panel-all form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

div#sol-panel-all form .inputField {
    border-radius: 10px;
    border: none;
    background: #c9c9c9;
    align-self: center;
    border: none;
    outline: none;
    width: 80%;
    outline: none;
    padding: 1%;
}

div#sol-panel-all div#options {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 35%;
}

div#sol-panel-all form button {
    padding: 1%;
    border: none;
    border-radius: 10px;
    background: #7188D8;
    margin-right: 50px;
    color: white;
    width: 10%;
    cursor: pointer;
}

div#sol-panel-all form p {
    color: red;
    margin-right: 10px;
}

div#sol-panel-all form textarea {
    resize: none;
    height: 25%;
    margin-top: 10px;
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    div#sol-panel-all {
        width: 500px;
        height: 150px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    div#sol-panel-all {
        width: 600px;
        height: 150px;
    }

    div#sol-panel-all form input, div#sol-panel-all form button {
        font-size: 15px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    div#sol-panel-all {
        width: 900px;
        height: 180px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    div#sol-panel-all {
        width: 1000px;
        height: 200px;
    }
}