#dashboard-submitted {
    width: 100vw;
    max-width: 1920px;
    display: flex;
    height: 100vh;
    padding-top: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}

div#display-all, div#select-user {
    -webkit-box-shadow: 5px 5px 21px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 21px -11px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 21px -11px rgba(0,0,0,0.75);
    font-size: 10px;
    box-sizing: border-box;
}

/*
    User selection config
*/

div#select-user {
    width: 15%;
    background: white;
    border-radius: 10px;
    margin-right: 5em;
}

div#select-user div#see-users {
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

div#select-user div#see-users div.user-data {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

div#select-user div#see-users div.user-data:hover {
    background: rgba(113, 136, 216, 0.5);
}

div#select-user div#see-users div.user-data.selected {
    background: rgba(113, 136, 216, 0.5);
}

div#select-user div#see-users div.user-data.selected:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div#select-user div#see-users div.user-data h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 400;
    width: 95%;
    overflow: hidden;
    max-height: 2.5em;
}

div#select-user div#see-users div.user-data p {
    display: flex;
    font-size: 1.2em;
}

div#select-user div#see-users div.user-data p span {
    width: 20%;
    font-weight: 200;
}

/*
    Loading button
*/

div#select-user div#load-button {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#select-user div#load-button button {
    outline: none;
    border: none;
    color: white;
    padding: 1em;
    font-size: 1.5em;
    background: rgb(113, 136, 216);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

div#select-user div#load-button button:hover {
    background: #4e67c2;
    transform: scale(1.1);
}

/*

    Result section

*/

div#display-all {
    background: white;
    width: 60%;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

div#display-all div#title-separator {
    display: flex;
    flex-direction: column;
    height: 15%;
    justify-content: center;
    padding-left: 2em;
}

div#display-all div#title-separator h1 {
    font-size: 3em;
}

div#display-all div#title-separator hr {
    margin-top: 1.5em;
    background: rgb(113, 136, 216);
    border: none;
    height: 2px;
    width: 60%;
    border-radius: 10px;
}

/*Solution and explanation*/

div#display-all div.user-response {
    display: flex;
    flex-direction: column;
    height: 75%;
    padding-left: 20px;
}

div#display-all div.user-response h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 400;
}

div#display-all div.user-response p, div#display-all div.user-response textarea {
    padding: 0.8em;
    background: #F3F3F3;
    width: 95%;
    border-radius: 5px;
    font-size: 1.7em;
    box-sizing: border-box;
}

div#display-all div.user-response textarea {
    border: none;
    outline: none;
    resize: none;
    height: 60%;
}

div#display-all div.user-response p:first-of-type {
    margin-bottom: 20px;
}


/*Button*/

div#display-all div.selector {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

div#display-all div.selector button {
    outline: none;
    border: none;
    font-size: 2em;
    background: white;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

div#display-all div.selector button:nth-child(2) {
    margin-left: 2em;
    margin-right: 2em;
}

div#display-all div.selector button.selected, div#display-all div.selector button:hover {
    background: rgb(113, 136, 216);
    color: white;
}

/*
    Responsive settings
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    #dashboard-submitted {
        min-height: 300px;
        flex-direction: column;
        height: 100vh;
        padding-top: 80px;
    }

    div#select-user {
        font-size: 4px;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 10px;
        max-height: 300px;
        overflow-y: auto;
    }

    div#select-user div#see-users {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    div#select-user div#see-users div.user-data:first-of-type {
        border-top-right-radius: 0px;
    }

    div#select-user div#see-users div.user-data {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 40px;
        box-sizing: border-box;
    }

    div#display-all {
        font-size: 3.5px;
    }

    div#select-user div#load-button {
        width: 100%;
        height: 40px;
    }

    /*
        User response section
    */

    div#display-all {
        font-size: 4px;
        width: 80%;
        height: 60%;
        padding: 5px 5px;
    }

    div#display-all div#title-separator hr {
        height: 1.5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    #dashboard-submitted {
        min-height: 300px;
        flex-direction: column;
        height: 100vh;
        padding-top: 80px;
    }

    div#select-user {
        font-size: 5px;
        width: 75%;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 10px;
        max-height: 350px;
        overflow-y: auto;
    }

    div#select-user div#see-users {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    div#select-user div#see-users div.user-data:first-of-type {
        border-top-right-radius: 0px;
    }

    div#select-user div#see-users div.user-data {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 40px;
        box-sizing: border-box;
    }

    div#display-all {
        font-size: 3.5px;
    }

    div#select-user div#load-button {
        width: 100%;
        height: 40px;
    }

    /*
        User response section
    */

    div#display-all {
        font-size: 5px;
        width: 75%;
        height: 60%;
        padding: 5px 5px;
    }
}

@media only screen and (min-width: 768px) {
    div#display-all, div#select-user {
        height: 75%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #dashboard-submitted {
        min-height: 400px;
    }

    /*
        User response section
    */

    div#display-all {
        font-size: 6.5px;
    }

    div#display-all div#title-separator hr {
        width: 70%;
    }

    /*Select user section*/

    div#select-user {
        font-size: 4px;
        width: 18%;
        font-size: 5.5px;
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #dashboard-submitted {
        min-height: 500px;
    }
    
    /*
        User response section
    */

    div#display-all {
        font-size: 6px;
        max-height: 1000px;
    }

    div#display-all div#title-separator hr {
        width: 70%;
    }

    /*Select user section*/

    div#select-user {
        font-size: 6px;
        width: 18%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    #dashboard-submitted {
        min-height: 500px;
    }
    
    /*
        User response section
    */

    div#display-all {
        min-height: 450px;
        font-size: 7.5px;
    }

    div#display-all div#title-separator hr {
        width: 70%;
    }

    /*Select user section*/

    div#select-user {
        min-height: 450px;
        font-size: 8px;
        width: 18%;
    }
}

@media only screen and (min-width: 1600px) {
    
}