#dashboard-submitted {
    width: 100vw;
    max-width: 1920px;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    overflow-x: hidden;
}

#see-users {
    background: white;
    width: 15%;
    min-width: 350px;
    height: 80%;
    border-radius: 8px;
    margin-right: 50px;
}

#load-button {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}

#load-button button {
    outline: none;
    border: none;
    height: 40px;
    width: 100px;
    background: #7188D8;
    color: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

#load-button button:hover {
    transform: scale(1.1);
}

#user-container {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#user-container .user-data {
    box-sizing: border-box;
    padding: 10px 0 8px 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

#user-container .user-data:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#user-container .user-data:hover {
    background: rgba(113, 136, 216, 0.5);  
}

#user-container .selected {
    background: rgba(78, 103, 194, 0.5);
}

@media (max-width: 990px) {
    #dashboard-submitted {
        flex-direction: column;
        height: 220vh;
    }

    #see-users {
        margin-right: 0px;
        width: 70%;
        height: 50%;
        margin-bottom: 50px;
    }

    #dashboard-submitted #display-all {
        width: 70%;
        height: 40%;
    }
}

@media (min-width: 991px) {
    #dashboard-submitted #display-all {
        width: 50%;
        height: 80%;
    }
}