#topThree {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

#topThree > div {
	background: var(--dark1);
	height: 800px;
	width: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#topThree svg {
	transform: scale(0.75);
}