#topThree {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

#topThree > div {
	background: var(--dark1);
	height: 800px;
	width: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#topThree table {
	width: 80%;
	color: white;
}

#topThree thead {
	background: var(--default-violet-75);
}

#topThree table * {
	border: none;
}

#topThree .first-color {
	background: rgba(226, 190, 90, 0.4);
}

#topThree .second-color {
	background: rgba(160, 167, 173, 0.25);
}

#topThree .third-color {
	background: rgba(187, 119, 96, 0.25);
}