#display-all {
    margin: 0;
    background: white;
    border-radius: 10px;
}

#display-all hr {
    background: #7188D8;
    height: 1px;
}

#display-all h2 {
    font-size: 2em;
}

#display-all h3 {
    font-size: 2em;
    font-weight: 400;
}

#display-all textarea, #display-all input {
    outline: none;
    background: rgba(220, 220, 220);
    border: 2px solid rgba(210, 210, 210);
    width: 100%;
    resize: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}

#display-all input {
    height: 40px;
}

#display-all textarea {
    height: 60%;
}

#display-all #buttons button {
    border: none;
    outline: none;
    background: rgba(0,0,0,0);
    margin: 0 20px;
    transition: all 0.2s ease-in-out;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
}

#display-all #res-data {
    height: 75%;
}

#display-all #res-data #explanation {
    margin-top: 10px;
}

#display-all #buttons button.selected, #display-all #buttons button:hover {
    color: white;
    background: #7188D8;
}

#display-all #buttons {
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (max-width: 575px) {
    #display-all {
        font-size: 8px;
    }

    #display-all #res-data {
        height: 75%;
    }
}

@media (min-width: 576px) {
    #display-all {
        font-size: 12px;
    }
}

@media (min-width: 767px) {
    #display-all {
        font-size: 12px;
    }
}

@media (min-width: 991px) {
    #display-all {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    #display-all {
        font-size: 14px;
    }
}

@media (min-width: 1500px) {
    #display-all {
        font-size: 15px;
    }
}