/*

    Result section

*/

div#display-all {
    background: white;
    width: 60%;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

div#display-all div#title-separator {
    display: flex;
    flex-direction: column;
    height: 13%;
    justify-content: center;
    padding-left: 2em;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    padding-right: 5px;
}

div#display-all div#title-separator h1 {
    font-size: 3em;
}

div#display-all div#title-separator hr {
    margin-top: 1.5em;
    background: rgb(113, 136, 216);
    border: none;
    height: 2px;
    width: 60%;
    border-radius: 10px;
}

/*Solution and explanation*/

div#display-all div.user-response {
    display: flex;
    flex-direction: column;
    height: 75%;
    padding-left: 20px;
}

div#display-all div.user-response h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 400;
}

div#display-all div.user-response p, div#display-all div.user-response textarea {
    padding: 0.8em;
    background: #F3F3F3;
    width: 95%;
    border-radius: 5px;
    font-size: 1.7em;
    box-sizing: border-box;
}

div#display-all div.user-response textarea {
    border: none;
    outline: none;
    resize: none;
    height: 60%;
}

div#display-all div.user-response p:first-of-type {
    margin-bottom: 20px;
}

/*Button*/

div#display-all div.selector {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

div#display-all div.selector button {
    outline: none;
    border: none;
    font-size: 2em;
    background: white;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

div#display-all div.selector button:nth-child(2) {
    margin-left: 2em;
    margin-right: 2em;
}

div#display-all div.selector button.selected, div#display-all div.selector button:hover {
    background: rgb(113, 136, 216);
    color: white;
}