#display-all {
    margin: 0;
    background: var(--dark2);
    border-radius: 10px;
    color: white;
    padding: 0;
}

#display-all > *:not(#title) {
    padding: 0 15px;
}

#title {
    background: var(--default-violet-75);
    height: 12.5%;
    margin: 0;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#title h2 {
    font-size: 2em;
}

.body-title {
    justify-content: center;
}

.body-title h3 {
    font-size: 1.8em;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.body-title .col {
    height: 100%;
    display: flex;
    align-items: center;
}

#solution {
    height: 5%;
}

#solution .col {
    height: 100%;
}

#solution .col input, #explanation .col textarea {
    border: 0;
    outline: 0;
    width: 100%;
    background: var(--dark4);
    border: 2px solid var(--dark3);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

#solution .col input {
    height: 100%;
}


#display-all #explanation .col textarea {
    resize: none;
    height: 98%;
}

#buttons {
    height: 15%;
}

#buttons .col {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#buttons button {
    border: 0;
    outline: 0;
    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: 1em;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

#buttons button:nth-child(2) {
    margin: 0 40px;
}

#buttons button.selected, #buttons button:hover  {
    background: var(--default-violet);
}

@media (max-height: 991px) {
    #display-all #explanation {
        height: 50%;
    }

    #buttons button {
        font-size: 14px;
    }

    .body-title {
        height: 7.5%;
    }
}

@media (min-height: 992px) {
    #display-all #explanation {
        height: 48%;
    }

    .body-title {
        height: 8.5%;
    }
}